{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Главная{% endblock title %} - Доска
        объявлений</title>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css"
         href="{% static 'main/style.css' %}">
    {% bootstrap_javascript %}
</head>
<body class="container-fluid">
    <header class="mb-4">
        <h1 class="display-1 text-center">Объявления</h1>
    </header>
    <nav class="row navbar navbar-expand-md bg-light">
        <div class="col container">
            <a class="navbar-brand"
                href="{% url 'landing:index' %}">Главная</a>
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end"
                id="navbarNav">
                <div class="container">
                    <div class="navbar-nav ms-md-auto">
                        {% if user.is_authenticated %}
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                                data-bs-toggle="dropdown" href="#">Профиль</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'landing:profile' %}">Мои объявления</a>
                                <a class="dropdown-item" href="{% url 'landing:profile_edit' %}">Изменить
                                    личные данные</a>
                                <a class="dropdown-item" href="{% url 'landing:password_edit' %}">Сменить пароль</a>
                                <hr class="dropdown-divider">
                                <form class="px-3" method="post" action="{% url 'landing:logout' %}">
                                    {% csrf_token %}
                                    {% bootstrap_button 'Выйти' button_class='btn-danger' %}
                                </form>
                                <hr class="dropdown-divider">
                                <a class="dropdown-item" href="#">Удалить</a>
                            </div>
                        </div>
                        {% else %}
                        <a class="nav-link" href="#">Регистрация</a>
                        <a class="nav-link" href="{% url 'landing:login' %}">Вход</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="row">
        <nav class="col-md-auto nav flex-column bg-light">
            <span class="nav-link root">Недвижимость</span>
            <a href="nav-link" href="#">Жилье</a>
            <a href="nav-link" href="#">Склады</a>
            <a href="nav-link" href="#">Гаражи</a>
            <span class="nav-link root" href="#">Транспорт</span>
            <a href="nav-link" href="#">Легковой</a>
            <a href="nav-link" href="#">Грузовой</a>
            <a class="nav-link root" href="{% url 'landing:other' page='about' %}">
                О сайте</a>
        </nav>
        <main class="col py-2">
            {% bootstrap_messages %}
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <footer class="mt-3">
        <p class="text-end fst-italic">&copy; Startsev Vadim.</p>
    </footer>
</body>
</html>