{% extends 'layout/basic.html' %}

{% block content %}
    <h2>Удаление комментария</h2>
    <p>Вы уверены, что хотите удалить этот комментарий?</p>
    <div class="border p-3">
        <h4>{{ comment.author }}</h4>
        <p>{{ comment.content }}</p>
        <!-- Отображение других полей комментария, если необходимо -->
    </div>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mt-3">Удалить</button>
        <a href="{% url 'landing:profile' %}" class="btn btn-secondary mt-3">Отмена</a>
    </form>
{% endblock %}