{% extends 'layout/basic.html' %}

{% load django_bootstrap5 %}

{% block title %}{{ bb.title }} - {{ bb.rubric.name }}{% endblock %}

{% block content %}
    <div class="row mt-3">
        <p class="row row-cols-md-auto justify-content-end">
        <a href="{% url 'landing:profile_bb_delete' pk=bb.pk %}" class="btn btn-danger">Удалить</a>
            <a href="{% url 'landing:profile_bb_edit' pk=bb.pk %}">Редактировать</a>
        </p>

        {% if bb.image %}
            <div class="col-md-auto">
                <img src="{{ bb.image.url }}" class="main-image">
            </div>
        {% endif %}
        <div class="col">
            <h2>{{ bb.title }}</h2>
            <p>{{ bb.content }}</p>
            <p class="fw-bold">{{ bb.price }} руб.</p>
            <p>{{ bb.contacts }}</p>
            <p class="text-end fst-italic">Добавлено {{ bb.created_at }}</p>
        </div>
    </div>
    {% if ais %}
        <div class="d-flex justify-content-between flex-wrap mt-5">
            {% for ai in ais %}
                <div class="d-flex justify-content-center align-items-center">
                    <img class="additional-image" src="{{ ai.image.url }}">
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if comments %}
    <div class="vstack gap-3 mt-5">
        {% for comment in comments %}
        <div class="p-2 border">
            <p class="row row-cols-md-auto justify-content-end">
                <a href="{% url 'landing:profile_comm_del' pk=comment.pk %}" class="btn btn-danger">Удалить</a>
            </p>
            <h5>{{ comment.author }}</h5>
            <p>{{ comment.content }}</p>
            <p class="text-end fst-italic">{{ comment.created_at }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}