div {
  margin: 10px 0px;
  padding: 0px 10px;
  border: gray thin solid;
}
div.p.price {
  font-size: larger;
  font-weight: bold;
  text-align: right;
}
div p.date {
  font-style: italic;
  text-align: right;
}
